<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.cgmarcos.pacman.persistence.dao.MedicoAPDAO">

    <resultMap id="MedicoMap" type="Medico">
        <id property="codMedico" column="COD_MEDICO"/>
        <result property="nombre" column="NOMBRE"/>
        <result property="apellido1" column="APELLIDO_1"/>
        <result property="apellido2" column="APELLIDO_2"/>
        <result property="nif" column="NIF"/>
    </resultMap>

    <select id="selectMedicoAPByCod" resultMap="MedicoMap">
        SELECT
        COD_MEDICO,
        NOMBRE,
        APELLIDO_1,
        APELLIDO_2,
        NIF
        FROM MEDICOS_AP
        WHERE COD_MEDICO = #{codMedico}
    </select>

    <select id="selectAllMedicosAP" resultMap="MedicoMap">
        SELECT
        COD_MEDICO,
        NOMBRE,
        APELLIDO_1,
        APELLIDO_2,
        NIF
        FROM MEDICOS_AP
    </select>

    <insert id="insertMedicoAP" useGeneratedKeys="true" keyColumn="COD_MEDICO" keyProperty="codMedico">
        <selectKey keyProperty="codMedico" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
                    
        </selectKey>
        INSERT INTO MEDICOS_AP(COD_MEDICO, NOMBRE, APELLIDO_1, APELLIDO_2, NIF) VALUES (#{codMedico}, #{nombre},
        #{apellido1},#{apellido2}, #{nif})
    </insert>

    <update id="updateMedicoAP">
        UPDATE MEDICOS_AP
        SET NOMBRE = #{nombre}, APELLIDO_1 = #{apellido1}, APELLIDO_2 = #{apellido2}, NIF = #{nif}
        WHERE COD_MEDICO = #{codMedico}
    </update>

    <delete id="deleteMedicoAP">
        DELETE FROM MEDICOS_AP
        WHERE COD_MEDICO = #{codMedico}
    </delete>
</mapper>